<a href="https://id.twitch.tv/oauth2/authorize?client_id=9j97eww9y3ewbqtw2dnoax3j5ejdbl&redirect_uri=https://safe-mesa-51756.herokuapp.com/streamers&response_type=token&scope=user:read:email">
Log in to Twitch</a>
